= image_tag("slashathon-blog.jpg")

%br/

.row-fluid
  .col-md-2.col-md-offset-5
    %a.twitter.popup.btn.btn-twitter{href: "http://twitter.com/share?text=You can Slashify yourself thanks to @PivotDesk! #slashselfy #{request.original_url}"} Give a Lil' Twitter Love

.pure-g-r.grid


:javascript
  $('.popup').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = this.href,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
    
    window.open(url, 'twitter', opts);
 
    return false;
  });